{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "IE >= 8"
          ],
          "node": "current"
        },
        "useBuiltIns": "entry",
        "loose": true,
        "shippedProposals": true
      }
    ],
    ["@babel/preset-stage-0", {"decoratorsLegacy": true}]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", {"legacy": true}],
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}
