{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "IE >= 8"
          ],
          "node": "current"
        },
        "useBuiltIns": "entry",
        "modules": false,
        "loose": true,
        "shippedProposals": true
      }
    ],
    "@babel/preset-stage-2"
  ],
  "plugins": [
    "@babel/plugin-proposal-decorators",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-export-default-from"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}
